################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ListViewSample/v15
/Droid/bin/Debug
/Droid/obj
/iOS/bin/iPhoneSimulator/Debug
/iOS/obj/iPhoneSimulator/Debug
/ListViewSample/obj/Debug
/ListViewSample/bin/Debug
/packages
/UITest/bin/Debug/netcoreapp2.1
/UITest/obj
/UITest
